{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}Новый пост {% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {% if is_edit %}
              Редактировать запись
            {% else %}
              Добавить запись
            {% endif %}
           </div>
        <div class="card-body">
          <form method="post" action="{% url 'posts:post_create' %}" enctype="multipart/form-data">
              {% csrf_token %}
          {% include 'posts/includes/separate_field.html' %}
          <button type="submit" class="btn btn-primary" >
            {% if is_edit %}
              Сохранить изменения
            {% else %}
              Создать пост
            {% endif %}
          </button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}